* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Exo 2", sans-serif;
  overflow: hidden;
  background: #fff;
  background-position: 50% 30%;
  display: block;
}
.tag{
  margin: 5px;
  padding: 50px;
  justify-content: center;
  text-align: right;
  align-items: right;
}
.titletag h1 {
  margin-top: 100px;
  font-size: 83px;
  color: rgb(206, 9, 69);
  border-radius: 25px;
  font-family: "Lemon Milk", sans-serif;
 
}
.quotetag{
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  color: rgb(206, 9, 69);
  border-radius: 25px;
  font-family: "Poppins", sans-serif;

}
.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  max-width: 700px;
  padding: 2rem;
  position: relative;
  z-index: 1;
}
.content h1 {
  font-size: 4.3rem;
  margin-bottom: 0.8rem;
  color: rgb(206, 9, 69);
  font-family: "Courier New", Courier, monospace;
}
.content p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
}
.btn {
  padding: 0.75rem 1.25rem;
  margin-top: 0.8rem;
  font-size: 1.1rem;
  font-weight: 550;
  color: rgb(206, 9, 69);
  background-color: #111;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
}
.btn:hover {
  opacity: 0.7;
}
